body {
    font-family: Arial, sans-serif;
    background-image: url(https://assets.ccbp.in/frontend/content/react-js/age-calculator-output.gif); /* Replace this with your desired background image URL */
    /* background-size: cover; */
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container {
    max-width: 400px;
    background-color: #bba0fee6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.container:hover {
    transform: scale(1.05);
}
h1 {
    color: #333;
}
label {
    font-weight: bold;
}
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    display: none;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}